# --- Core ---
selenium
pandas
webdriver-manager
psycopg2-binary
sqlalchemy
scikit-learn
python-multipart

# --- AI & ML ---
sentence-transformers
mlflow
dvc
dvc-s3  # Untuk konek ke MinIO
s3fs    # Filesystem S3

# --- Backend & API ---
fastapi
uvicorn
redis   # Untuk Caching
requests

# --- Observability ---
prometheus-fastapi-instrumentator # Untuk Monitoring API

# --- Frontend ---
streamlit
requests
pypdf